/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
    Убираем внутренние отступы слева тегам списков,
    у которых есть атрибут class
   */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
    Убираем внешние отступы body и двум другим тегам,
    у которых есть атрибут class
   */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
    Убираем внешние отступы вертикали нужным тегам,
    у которых есть атрибут class
   */
 :where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
    Убираем стандартный маркер маркированному списку,
    у которого есть атрибут class
   */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
    Обнуляем вертикальные внешние отступы параграфа,
    объявляем локальную переменную для внешнего отступа вниз,
    чтобы избежать взаимодействие с более сложным селектором
   */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
    Внешний отступ вниз для параграфа без атрибута class,
    который расположен не последним среди своих соседних элементов
   */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
    Наследуем свойства шрифт для полей ввода
   */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
   height: 100%;
 }
 
 /**
    Плавный скролл
   */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
   min-height: 100%;
   /**
      Унифицированный интерлиньяж
     */
   line-height: 1.5;
 }
 
 
 
 @font-face {
   font-family: 'Montserrat';
   src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
 }
 
 @font-face {
   font-family: 'Inter';
   src: url('./fonts/Inter-Medium.woff2') format('woff2');
   font-weight: 500; 
   font-style: normal;
   font-display: swap;
 }
 
 a {
   color: black; /* Черный цвет текста */
   text-decoration: none;
 }
 
 :root {
   --color-dark-black: #000000;
   --color-dark-gray: #36393d;
   --color-for-border: #d8dce2;
   --color-light: #ffffff;
   --color-blue: #0095da;
   --color-light-gray: #f7f9fb;
   --color-dark-lilac: #171A5D;
   --color-medium-gray: #f2f4f6;
   --color-dark-medium-gray: #d2cef6e0;
 
 }
 
 body {
   font-family: var(--font-family-base);
   font-weight: 500;
   font-size: 15px;
   background-color: var(--color-light);
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
 }
 
 ul {
   list-style-type: none;
   padding-inline-start: 0;
 }
   
 .header {
   width: 100vw;
   height: 9vh;
   position: fixed;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-inline: 12.8vw;
   top: 0;
   left: 0;
   z-index: 10;
   background-color: rgba(255, 255, 255, 0.9);
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(5px);
   display: flex;
   align-items: center;
   column-gap: 15vw;
   justify-content: center;
 }
   
 .header-menu {
   display: flex;
   column-gap: .43vw;
   justify-content: center;
 }
   
 .header-menu-link {
   display: flex;
   position: relative;
   font-weight: 700;
   height: 6vh;
   align-items: center;
   padding-inline: .3vw;
   text-decoration: none;
   font-size: 1.25vw;
   z-index: 10;
   color: var(--color-dark-black);
   border-radius: 10px;
   transition: background-color 0.1s ease-in-out;
 }
 
 
   
   
 .header-logo {
   flex-shrink: 0;
   opacity: .75;
 }
   
 .lang-contant {
   display: flex;
   column-gap: .3vw;
 }
   
 .lang-title {
   font-weight: 600;
   font-size: 1.1vw;
   color: black;
 }
 
 .header-menu-link:hover {
   background-color: var(--color-for-border);
 }
 
   
 .custom-font {
   font-family: var(--font-family-base);
   text-align: center; 
   font-size: 5vw;
   font-weight: 600;
   color: var(--color-dark-black);
   line-height: .9;
 }
 
 .dynamic-text {
   font-family: var(--font-family-base);
   text-align: center;
   font-size: 8vw;
   font-weight: 700;
 }
 
 span {
   background-clip: text;
   color: transparent;
 }
 
 .typed-cursor {
   background-color: #1e90ff;
 }
 
 .content-first {
   height: 100vh;
   padding-top: 30vh;
 }
 
 .dop-info {
   font-size: 1.5vw;
   font-weight: 500;
   text-align: center;
   color: var(--color-dark-gray);
 }
 
 .page-second {
   width: 100%;
   background-color: var(--color-dark-lilac);
 }
 
 .content-second {
   width: 74%;
   padding-block: 5%;
   margin-left: auto;
   margin-right: auto;
 }
 
 .headline {
   color: var(--color-light);
   font-size: 2.6vw;
   font-weight: 600;
 }
 
 .flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1.2vw;
   margin-top: 3%;
 }
 
 .flex-element {
   background-color: var(--color-light);
   flex: 1;
   min-width: 19vw;
   min-height: 10vw;
   padding: 1.9vw;
   transition: 0.4s;
   border-radius: 1.5vw;
 }
 
 .flex-element:hover {
   background-color: rgba(255, 255, 255, 0.88);
 }
 
 .flex-title {
   font-size: 1.5vw;
   text-decoration: none;
   font-weight: 500;
   text-align: left;
   margin-top: 1.1vh;
   
 }
 
 .flex-info {
   font-size: 1.1vw;
   text-decoration: none;
   font-weight: 400;
   color: var(--color-dark-gray);
   text-align:left;
   margin-top: 5px;
 }
 
 .flex-logo-image {
   margin-top: -.6vw;
   margin-left: -.6vw;
 }
 
 .flex-logo-image-bottom {
   margin-top: 0.5vh;
   margin-left: -.6vw;
   margin-bottom: 2.3vh;
 }
 
 .content_section {
   width: 74%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 5%;
   padding-bottom: 7.5%;
 }
 
 .content_section__course {
   display: list-item;
   list-style-type: none;
 }
 
 .content_section__course h1 {
   margin-bottom: 4%;
   font-size: 2.8vw;
   font-weight: 600;
 }
 
 .course_block {
   background-color: #6D78FD;
   border-radius: 30px;
   display: flex;
   padding: 3%;
   justify-content: space-between;
   color: white
 }
 
 .course_block__left_side {
   justify-content: space-between;
   width: 55%;
 }
 
 .left_side__text_block {
   display: list-item;
   list-style-type: none;
 }
 
 .left_side__text_block h2 {
   font-size: 2.22vw;
   font-weight: 700;
   margin-bottom: 20px;
 }
 
 .left_side__text_block li {
   font-size: 1.25vw;
   font-weight: 500;
   color: rgba(255, 255, 255, 0.85);
 }
 
 .course_block__course_number {
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   padding: 5px 15px;
   width: fit-content;
   font-size: 1.65vw;
   font-weight: 600;
   margin-bottom: 3.5vw;
 }
 
 .course_block__right_side {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 25vw;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 20px;
   padding: 20px 30px;
   opacity: 0;
   transform: scale(1.2);
 }
 
 @media (prefers-reduced-motion: no-preference) {
   .course_block__right_side {
     transition: opacity 1s ease, transform 1s ease;
   }
 }
 .course_block__right_side-animation {
   opacity: 1;
   transform: scale(1)
 }
 
 .right_side__text_block {
   display: list-item;
   list-style-type: none;
   margin-block-start: 0;
   text-align: center;
 }
 
 .right_side__text_block h2 {
   margin-block-start: 0;
   margin-block-end: 0;
   font-size: 1.55vw;
 }
 
 .right_side__text_block p {
   margin-block-start: 0;
   font-size: 1vw;
 }
 
 .right_side__graph {
   display: flex;
   justify-content: center;
   column-gap: 10px;
   height: max-content;
 }
 
 .graph__column {
   width: 5vw;
   margin-top: auto;
 }
 
 .graph__column p {
   font-weight: 800;
   font-size: 1.4vw;
   margin-block-start: 0;
   margin-block-end: 0;
   margin-top: 5px;
   margin-left: 5px;
 }
 
 .graph__column___box {
   background-color: white;
   color: #6D78FD;
   text-align: center;
   height: 30px;
   opacity: 0.5;
   padding-inline: 1vw;
   padding-top: 0.3vw;
   border-radius: 1vw 1vw 0.3vw 0.3vw;
   font-weight: 800;
   font-size: 1.67vw;
 }
 
 @media (prefers-reduced-motion: no-preference) {
   .graph__column___box {
       transition: height 1.5s ease, opacity 1s ease;
   }
 }
 .graph__column___animation260 {
   height: 12.5vw;
   opacity: 1;
 }
 .graph__column___animation244 {
   height: 10.4vw;
   opacity: 1;
 }
 .graph__column___animation251 {
   height: 11vw;
   opacity: 1;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .black-container {
   background-color: #12172C;
   padding-top: 7vh;
   display: flex;
   flex-direction: column; 
 }
 
 .prof-header {
   color: var(--color-light);
   font-size: 2.78vw;
   font-weight: 600;
   margin-bottom: 2.8vh; 
   padding-left: 12.8vw;
 }
 
 .prof-containers {
   display: flex;
   overflow-x: scroll;
   -ms-overflow-style: none;
   scrollbar-width: none;
 }
 
 .prof-containers:active{
   cursor: grabbing;
 }
 
 .prof-container {
   background: linear-gradient(to bottom,#2e4d04,#264c76);
   border-radius: 2vw;
   min-width: 42vw;
   margin: 1.5vw; 
   padding: 3vw;
   margin-bottom: 11vh;
 }
 
 .prof-title {
   font-size: 2vw;
   font-weight: 600;
   color: var(--color-light);
 }
 
 .prof-info {
   font-size: 1.25vw;
   margin-top: 1vw;
   font-weight: 500;
   color: var(--color-light);
   margin-bottom: 2.9vh;
 }
 
 .prof0 {
   background: linear-gradient(to top, #062966, #698284);
   margin-left: 12.8vw;
 }
 .prof1 {
   background: linear-gradient(to bottom, #278251, #3c2b77)
 }
 .prof2 {
   background: linear-gradient(to bottom, #2e4d04, #264c76)
 }
 .prof3 {
   background: linear-gradient(to bottom, #6c312f, #282764)
 }
 .prof4 {
   background: linear-gradient(to top, #31286d, #224e63)
 }
 .prof5 {
   background: linear-gradient(to bottom, #376e18, #1f1a79)
 }
 .prof6 {
   background: linear-gradient(to bottom, #5b1e64, #2d2367);
   margin-right: 0;
 }
 .empty {
   min-width: 12.8vw;
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 .partner-container {
   display: flex; /* Использует Flexbox для размещения изображений в один ряд */
   justify-content: space-between; /* Выравнивает изображения по центру контейнера по горизонтали */
   align-items: center; /* Выравнивает изображения по центру контейнера по вертикали */
   margin-bottom: 20px; /* Отступ снизу */
   max-width: 100%; /* Максимальная ширина контейнера */
   padding: 20px;
   padding-left: 12.8vw;
   padding-right: 12.8vw;
 }
 .partner-container img {
   height: auto; /* Для сохранения пропорций изображений */
 }
 .partner_button {
  width: 15vw;
  height: 15vw;
 }
 .partner_button img{
  transition: transform 0.3s;
  height: 100%;
  width: 100%;
 }
 .partner_button:hover img {
    transform: scale(1.1);
 }
 
 .create-line {
   width: 75%;
   border-top: 3px solid #D9D9D9;
   margin-bottom: 30px; /* Отступ снизу */
 }
 
 
 
 .contact-container_big {
   align-items: center; /* выравниваем элементы по вертикали */
   justify-content: center; /* выравниваем элементы по горизонтали */
   margin-bottom: 20px; /* Отступ снизу */
   display: grid;
   grid-template-columns: 1fr 2fr; /* Определение ширины столбцов */
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Автоматическое изменение количества колонок */
   padding-left: 12.8vw;
   padding-right: 12.8vw;
 }
 
 
 .contact-container_smal{
   display: flex; /* используем flexbox */
   align-items: center; /* выравниваем элементы по вертикали */
   justify-content: center; /* выравниваем элементы по горизонтали */
   padding:0 100px;
   flex-basis: 30%; /* Устанавливаем начальную ширину для каждого элемента */
   text-align: center;
   margin: 10px;
 }
 .partner-container::-webkit-scrollbar {
   display: none; /* Убирает стандартные полосы прокрутки в Chrome и Safari */
 }
 
 
 
 .title-partner {
   font-weight: 500; 
   margin-top: 100px; /* Отступ сверху */
   margin-bottom: 10px; /* Отступ снизу */
   font-size: 3.4vw; /* Размер текста */
   padding-left: 12.8vw;
   padding-right: 12.8vw;
 }
 .text-contact{
   font-weight: 500; 
   font-size: 20px; /* Размер текста */
   padding: 15px;
   white-space: nowrap; /* Предотвращает перенос текста на новую строку */
 }
 
 .grad0 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(145,145,233,1) 100%);
 }
 .grad1 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(255,27,28,1) 100%);
 }
 .grad2 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(181,255,233,1) 100%);
 }
 .grad3 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(176,123,172,1) 100%);
 }
 .grad4 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(84,72,200,1) 100%);
 }
 .grad5 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(114,14,7,1) 100%);
 }
 .grad6 {
   background-image: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(6,214,160,1) 100%);
 }
 
 
 @media screen and (max-width: 900px) {
   .course_block {
     display: block;
     padding: 3vh
   }
   .course_block__left_side {
     width: 100%;
   }
   .course_block__right_side {
     width: 100%;
     margin-top: 4vh;
   }
 }

 @media screen and (max-width: 400px){
  .flex-element {
    background-color: var(--color-light);
    flex: 1;
    min-width: 40vw;
    min-height: 27vh;
  }
}
